keyboard
pyaudio
faster-whisper
wave
pyttsx3
groq
langchain_groq
langchain
langchain_community
tkinter
crewai
ollama
numpy
google_auth_oauthlib
googleapiclient
googleapiclient
google
opencv-python